body {
  background-color: #A5DBD9;
}

h1 {
  text-align: center;
  animation: fadeIn ease-in 1;
  animation-duration: 0.3s;
  line-height: 22vw;

}

img {
  text-align: center;
  animation: fadeIn ease-in 1;
  animation-duration: 0.3s;
}

div {
  animation: fadeIn ease-in 1;
  animation-duration: 0.3s;
}

#left {
 width: 46vw;
  height: 80vw;
  margin: 0 auto;
  padding-top: 8vw;
  background: white;
  /* Skugga stor-box: opacity 23% y:21px x:0px blur:31px*/
  box-shadow: 0px 5px 25px -7px #000000;
  float: left;
  border-top-right-radius: 6vw;
  border-bottom-right-radius: 6vw;
}

#right {
  width: 46vw;
  height: 80vw;
  margin: 0 auto;
  padding-top: 8vw;
  background: white;
  /* Skugga stor-box: opacity 23% y:21px x:0px blur:31px*/
  box-shadow: 0px 5px 25px -7px #000000;
  float: left;
  border-top-left-radius: 6vw;
  border-bottom-left-radius: 6vw;
  margin-left: 8vw;
}

#revarSVG{
  z-index: 6;
  position: absolute;
  height: 75vw;
  margin-left: 8vw;
  margin-top: 4vw;
  opacity: 0.7;
}

.st0 {
  fill: red;
}

.st1 {
  fill: red;
}

.st2{
  fill: red;
}

.ovveBakgrund{
  z-index: 2;
  position: absolute;
  height: 60vw;
  background-color: blue;
  margin-left: 3vw;
  margin-top: 4vw;
}

.ovveSkugga{
  z-index: 3;
  opacity: 0.9;
  position: absolute;
  height: 60vw;
  margin-left: 3vw;
  margin-top: 4vw;
}

#resultatOvveBakgrund{
  height: 75vw;
  margin-left: 8vw;
}

#resultatOvveSkugga{
  height: 75vw;
  margin-left: 8vw;
}

#colorTextHeader {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14vw;
  color: white;
  padding: 12vw;
  margin: 0;
}

#startTextHeader {
  margin-top: 30vw;
}

#startTextHeader h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15vw;
  margin-top: -19vw;
  color: white;
}

i {
  color: #A5DBD9;
  font-size: 10vw;
  margin-left: 11vw;
  margin-top: 3.5vw;

}

#returnDiv {
  position:absolute;
  top:10vw;
  left:-10vw;
  width: 25vw;
  height: 17vw;
  background-color:white;
  border-radius: 40vw;
}

.backButton {
  position: absolute;
  top:8vw;
  left:12vw;
  z-index: 2;
  width:9vw;
  height:9vw;
  margin-bottom: -15vw;
  filter: invert(30%);
}

#progressBarFront {
  height: 5vw;
  margin-top: 1vw;
  border-radius: 6vw;
  background-color: white;
  z-index: 3;
  transition: ease-in-out 0.3s;
}

#progressbarBack {
  width:70vw;
  height: 5vw;
  margin: 0 auto;
  margin-top: 2vw;
  border-radius: 6vw;
  background-color: #638382;
  z-index: 2;

}

#startLogo {
  width: 80vw;
  height: 80vw;
  margin-top:-7vw;
  margin-left: 10vw;
  filter: drop-shadow(0px 4px 5px grey);
  transition: ease-in 0.1s;

}

#startLogo:active {

   filter: drop-shadow(0px 0px 0px grey);

}

#colorTextHeader {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14vw;
  color: white;
  padding: 12vw;
  margin: 0;
}

#startTextHeader {
  margin-top: 30vw;
}

#startTextHeader h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15vw;
  margin-top: -19vw;
  color: white;
}

#infoText {
  color:#4F95EB;
  font-family: 'Merriweather Sans', sans-serif;
}

#aboutDiv {
  position: relative;
  width: 50vw;
<<<<<<< HEAD
  height: 10vw;
  margin: 0 auto;
=======
  height: 12vw;
  margin: 27vw auto;
>>>>>>> 104e203119026c6b81264ff48b4e3e7fb6c1406c
  background: white;
  box-shadow: 0px 5px 25px -7px #000000;
  border-top-right-radius: 25vw;
  border-top-left-radius: 25vw;
  text-align: center;
  padding-bottom: 3vw;
}

#progressBarFront {
  height: 5vw;
  margin-top: 1vw;
  border-radius: 6vw;
  background-color: white;
  z-index: 3;
}

#progressbarBack {
  width:70vw;
  height: 5vw;
  margin: 0 auto;
  margin-top: 2vw;
  border-radius: 6vw;
  background-color: #638382;
  z-index: 2;

}

#startLogo {
  width: 80vw;
  height: 80vw;
  margin-top:-7vw;
  filter: drop-shadow(0px 4px 5px grey);
  transition: ease-in 0.1s;
}

#startLogo:active {

   filter: drop-shadow(0px 0px 0px grey);

}

.errorMessage {
  text-align: center;
  background-color: red;
}

.color-grid-container {
  width: 90vw;
  height: 100vw;
  margin: 0 auto;
  padding-top: 8vw;
  display: grid;
  grid-template-columns: auto auto auto;
  background: white;
  border-radius: 7vw;
  margin-bottom: 5vw;
  /* Skugga stor-box: opacity 23% y:21px x:0px blur:31px*/
  box-shadow: 0px 5px 25px -7px #000000;
}

.grid-item {
  width:24vw;
  height:17vw;
  margin: 0 auto;
  border-radius: 5vw;
  background-color: rgba(100, 100, 100, 0.8);
  font-size: 30px;
  text-align: center;
  /*Skugga färgrutor: opacity 23% y:21px x:0px blur:10px*/
  box-shadow: 0px 5px 20px -7px #000000;
}

/*       css for Model        */

/*       css for Stripes        */
.revarContainerOuter {
  flex-grow: 1;
  display:flex;
  flex-direction: column;
}

.revar-container {
  width: 90vw;
  height: 100vw;
  margin: -10vw auto;
  padding-top: 8vw;
  background: white;
  border-radius: 7vw;
  margin-bottom: 5vw;
  /* Skugga stor-box: opacity 23% y:21px x:0px blur:31px*/
  box-shadow: 0px 5px 25px -7px #000000;
  flex-grow: 1;
  overflow: auto;
  box-shadow: inset 0px -4px 12px 0px rgba(0,0,0,0.34);
}

.revar {
  margin-bottom: 2vw;
  margin-left: 5vw;
  height: 15vw;
  width: 89%;
  border-radius: 1vw;

}

.texture {
  position: relative;
  z-index: 1;
  opacity: 0.2;
  margin-bottom: 2vw;
  height: 15vw;
  width: 80vw;
  border-radius: 1vw;
}

.top {
  position: relative;
  top:-17.6vw;
  height: 25% ;
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
}

.middle {
  position: relative;
 top:-17.6vw;
  height: 50% ;
}

.bottom {
  position: relative;
  top:-17.6vw;
  height: 25% ;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

/*       css for Result        */


#resultTextHeader {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14vw;
  color: white;
  padding: 12vw;
  margin: 0;
}

#resultTextContent {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 5vw;
  color: black;
  padding: 2vw;
  margin: 0;
}

#resultTextCampus {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 5vw;
  color: black;
  padding: 2vw;
  margin-top: 80vw;
}

#resultTextDiv {
 width: 46vw;
  height: 80vw;
  margin: 0 auto;
  padding-top: 8vw;
  background: white;
  /* Skugga stor-box: opacity 23% y:21px x:0px blur:31px*/
  box-shadow: 0px 5px 25px -7px #000000;
  float: left;
  border-top-right-radius: 6vw;
  border-bottom-right-radius: 6vw;
}

#resultOvveDiv {
 width: 70vw;
  height: 120vw;
  margin: 0 auto;
  margin-top: -13vw;
  padding-top: 3vw;
  background: white;
  /* Skugga stor-box: opacity 23% y:21px x:0px blur:31px*/
  box-shadow: 0px 5px 25px -7px #000000;
  float: left;
  border-radius: 6vw;
  margin-left: 15vw;
}

::-webkit-scrollbar {
   width: 2vw;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 2vw rgba(0,0,0,0.3);
   border-radius: 10vw;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb {
   border-radius: 20px;
   border-radius: 50px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

/* css för About */

#aboutText {
  font-family: 'Merriweather Sans', sans-sans-serif;
  color: white;
  font-size: 5vw;
  text-align: center;
}


/* css för snazzidazzi */

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
